/* Define the colors to use in the timeline */
:root {
  --bg0-color: #040404;
  --bg1-color: #141414;
  --bg2-color: #222;
  --bg3-color: #555;
  --text1-color: #b0b0b0;
  --text2-color: #fff;
  --dot-size: 10px;
  --color-1: #dbcc34;
  --color-2: green;
  --color-3: red;
  --scale: 0.5;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg1-color);
  margin: 15px 40px 40px 40px;
  padding: 0;
  font-family: 'Chivo Mono', monospace;
  pointer-events: none;
  overflow-x: hidden;
}


h1{
  margin-top: -10px;
  margin-bottom: 0;
  letter-spacing: 1px;
  color: var(--text2-color);
}


h2 {
  /* margin: 35px 0 10px 0; */
  margin: 0;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 18px;
  pointer-events: none;
  color: var(--text2-color);
  user-select: none;
}
.faint{
  margin-top: 5px !important;
  opacity: .5;
  /* margin-bottom: 50px !important; */
}
.flip {
  display: inline-block;
  transform: scale(-1, 1);
}
.currentPage{
  cursor: auto !important;
  /* pointer-events: none; */
  background-color: var(--bg1-color);
  border-radius: 30px;
  /* opacity: .5; */
  /* color: #000 !important; */
  padding: 12px 0;
}
.comingSoon{
  opacity: .2;
  cursor: auto !important;
  pointer-events: none;
  /* text-decoration: line-through; */
}
.subtitle {
  margin: 0;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 1.5;
  pointer-events: none;
  user-select: none;
  text-align: center;
  color: #fff;
}
.maintitle {
  position: relative;
  margin: 55px 0 70px;
  font-size: 22px;
  letter-spacing: 1px;
  line-height: 1.5;
  pointer-events: none;
  user-select: none;
  text-align: center;
  color: white;
}
#mainTitle1 {
  display: block;
    }
    #mainTitle2 {
      display: none;
        }
.highlight{
  color: var(--color-1);
}

.pageTitle{
  margin: 120px 0 30px;
}

button {
  font-family: 'Chivo Mono', monospace;
  border: none;
  width: 120px;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  margin: 0 0 10px 0;
  font-size: 10px;
  letter-spacing: 0.5px;
  font-weight: bold;
  color: var(--text2-color);
  /* background-color: var(--bg3-color); */
  background-color: rgba(0, 0, 0, 1);
  opacity: .7;

}
button:hover{
  opacity:1;
  /* background-color: var(--text1-color); */
}
.btnNext{
  margin: 30px auto;
  display: block;
  opacity: .8;
  pointer-events: all;
  width: 200px;
}
.selected {
  background-color: var(--color-1) !important;
  color: var(--bg1-color) !important;
  opacity: 1;
}

#header{
/*  height: 130px;*/
  color: var(--text1-color);
  text-align: center;
  color: var(--text2-color);
  margin-bottom: 20px;
  pointer-events: none;
}

.logoIcon {
  display: inline-block;
  margin-top: 100px;
  width: 250px;
  height: 100px;
  background: url(./img/logo_Web3snapshot.svg) no-repeat center center;
  background-size: 300px;
  margin-bottom: -10px;
  pointer-events: none;
}

#logoSmall {
  position: absolute;
  top: 50px;
  left: calc(50% - 110px);
  display: inline-block;
  width: 220px;
  height: 80px;
  background: url(./img/logo_Web3snapshot.svg) no-repeat center center;
  background-size: 200px;
  margin-bottom: -10px;
  pointer-events: all;
  cursor: pointer;
}


#bgHead{
  background-color: var(--bg1-color);
  position: absolute;
  width: 100%;
  z-index: -33;
  margin: auto -50% auto;
  opacity: .2;
  height: 700px;
  pointer-events: all;
}

canvas{
  position: absolute;
  top: -10px;
  bottom: 0;
  left: 50%;
  overflow: hidden;
  background-color: var(--color-1);
  pointer-events: all;
}

.menu{
  pointer-events: all;
  /* display: none; */
}

#empty{
  width: 100%;
  overflow: hidden;
  background-color: var(--bg1-color);
  position: fixed;
  top: 0;
  height: 100vh;
  z-index: 32;
  left: 0;
  opacity: .8;
  display: none;
  pointer-events: all;
  cursor: auto;
}
#empty.active{
  display: block;
}
.aboutClass{
  padding: 12px;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 10px;
 }
.aboutClass:hover{
  background-color: var(--bg1-color)
}
#aboutFrame{
  display: none;
  /* opacity: 0; */
  position: fixed;
    top: 0;
    z-index: 55;
    width: 100%;
    height: 100vh;
    left: 0;
    pointer-events: all;
    /* opacity: .5; */
}

.noScroll{
  overflow-y: hidden !important;
}

#contImg2 {
  height: 100%;
  width: 100%;
  position: relative;
  max-width: 680px;
  margin: 0 auto 10px auto;
  /*  padding: 40px 0 40px 0;*/
  pointer-events: all;
  opacity: 0;
}


/* Style the event boxes */
.contImg1 {
  position: relative;
  display: inline-flex;
  background-color: var(--bg2-color);
  box-sizing: border-box;
  padding: 20px;
  color: var(--text1-color);
  border-radius: 20px;
  background-image: url(./academy/img/infog_0.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  min-height: 1000px;

}

img{
  width: 100%;
  border-radius: 10px;
  opacity: 1;
}

.fullFrame{
  max-width: 1480px !important;
  display: grid;
}

#navBar{
  /* position: fixed; */
  top: 0px;
  width: 300px;
  /* background-color: rgba(0, 0, 0, 0.7); */
  height: 90px;
  /* opacity: 0; */
  margin: 20px 0 0 calc(50% - 150px);
  padding: 0;
  pointer-events: all;
  z-index: 55;
  /* cursor: pointer; */
}

.above{
  /* opacity: .3; */
  display: none;
  position: absolute;
  top: 0;
  width: 200px;
  margin-left: calc(50% - 100px);
  letter-spacing: 1px;
}

#topBtn{
  position: fixed; 
  /* display: none; */
  bottom: -50px; 
  right: 30px;
  width: 50px;
  font-size: 14px;
  /* z-index: 45; */
  padding: 8px 0 10px 0;
  background-color: var(--color-1);
  color: var(--bg1-color);
  opacity: .7; 
  font-family: arial;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  pointer-events: all; 
  -webkit-transition: bottom 0.5s ease-in-out;
  -moz-transition: bottom 0.5s ease-in-out;
  transition: bottom 0.5s ease-in-out;
}
#topBtn:hover{
  opacity: 1;
}
.homeBtns{
  /* position: relative; */
  padding: 10px 0 30px;
  margin: 0 10px;
}
.homeBtn {
  /* position: absolute; */
  width: 100%;
  max-width: 500px;
  padding: 20px 0;
  /* height: 80px; */
  margin: 0 auto 20px;
  /* background-color: var(--bg2-color); */
  /* opacity: .7; */
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 40px;
  color: white;
  /* padding: 12px; */
  /* margin-left: -12px; */
  cursor: pointer;
  text-align: center;
  pointer-events: all;
}
.homeBtn:hover{
  background-color: rgba(0, 0, 0, 1);
}



/*// ///////////////////////////////////////////////////////////////////////// dropdown */ 

.dropdown {
  z-index: 44;
  /* margin-top: 90px; */
  pointer-events: all;
  position: relative;
  display: inline-block;
  /* width: 500px; */
  text-align: center;
  width: calc(100% - 10px);
  max-width: 500px;
  font-size: 16px;
  user-select: none;
}

.dropbtn {
  width: 100%;
  /* pointer-events: all; */
}




.dropdown-content {
  max-width: 400px;
  width: calc(100% - 30px);
  left: -2px;
  transform: translateX(-50%);
  display: none;
  position: absolute;
  margin-top: 116px;
  z-index: 1;
  min-width: 160px;
  background-color: rgba(0, 0, 0, 1);
  /* border: 2px solid var(--color-1); */
  padding: 12px 16px;
  color: white;
  border-radius: 30px;
  transform-origin: top center;
  transform: scale(0);
  transition: .3s ease-out;
  display: block;
}

.dropdown.active .dropdown-content {
  
  transform: scale(1);
}


.dropbtn:hover{
  /* background-color: rgba(0, 0, 0, 1); */
}
.dropbtn::after {
  content: "";
  position: absolute;
  top: 115px;
  left: 140px;
  border-width: 6px 6px 0 6px;
  border-style: solid;
  border-color: transparent transparent transparent transparent;
  transform: translateY(-50%) rotate(180deg);
  /* transition: transform 0.3s ease-in-out; */
  pointer-events: none;
}

.active .dropbtn {
  /* background-color: red; */
}

.dropdown.active .dropbtn::after {
  border-color: var(--bg0-color) transparent transparent transparent;
}

.dropdown-content a {
  color: white;
  padding: 12px 0;
  text-decoration: none;
  display: block;
  border-radius: 30px;
  margin: 5px 0;
  background-color: var(--bg0-color);
  opacity: .5;
}

.dropdown-content a:hover {
  opacity: 1;
}

/*////////////////////////////////////////////////////////*/ 

.footerFrame{
  width: calc(100% + 80px);
  margin: 0 0 -45px -40px;
  height: 80px;
  pointer-events: all;
  user-select: none;
} 
.footer{
  background-color: #000;
  color: var(--text1-color);
  height: 80px;
  overflow: hidden;
  margin: 0 -40px 0 -40px;
  /* text-align: center; */
  position: relative;
  width: calc(100% + 80px);
}
.footerText{
  position: absolute;
  bottom: 35px;
  width: 200px;
    margin-left: calc(50% - 100px);
  text-align: center;
  font-size: 14px;
  line-height: 2;
  pointer-events: all;
  cursor: pointer;
}

.btnInfog{
  width: 320px;
  font-size:  12px;
  text-align: left;
  padding-left: 25px;
}

/*// /////////////////////////////////////////////////////////////////////////*/
@media only screen and (max-width: 800px) {
  body{
  margin: 10px 0px 0 0px;
  overflow-x: hidden;
  }
  .above{
    /* width: calc(100% - 80px); */
    padding-top: 10px;
    padding-bottom: 15px;
    /* margin: 0 50px 30px 0px; */
    font-size: 10px;
  }
  .logoIcon {
    margin-top: 110px;

  }
  #logoSmall {
  /* padding-left: 30px; */
  }

  button {
    width: 100px;
    font-size: 8px;
  }

  #header{

  }
  /* .dropdown {
    margin-top: 90px;
  }
   */
  .contImg1{
    width: calc(100%);
    padding: 0;
    border-radius: 20px;
    margin: 0 0 10px 5px;
  }
  #contImg2{
    max-width: 100%;
    width: calc(100% - 10px);
    margin: 0;
  }
  
  .subtitle{
    font-size: 10px;
    
  }
  #mainTitle1 {
display: none;
  }
  #mainTitle2 {
    display: block;
      }
  
  .footerFrame{
    width: calc(100% + 0px);
    margin: 0 0 -2px 0;
    height: 60px;
    
  } 
  .footer{
    height: 60px;
    margin: 0;
    width: 100%;
  }
  .footerText{
   font-size: 14px;
   bottom: 20px;
   margin-left: calc(50% - 100px);
  }
  .dropdown {
    font-size: 12px;
  }

  /* #navBar{
    margin: 0;
    padding-left: 0;
  }
   */

}
  


@media only screen and (min-width: 2200px) {
 body { 
    zoom: 2; 
    -moz-transform: scale(2); 
    -moz-transform-origin: 0 0;
  } 
}


#logoIconClick{
  position: absolute;
  width: 40px;
  overflow: hidden;
  z-index: -22;
  opacity: .5;
  display: block;
  opacity: .1;
}