/* Define the colors to use in the timeline */
:root {
  --bg0-color: #040404;
  --bg1-color: #141414;
  --bg2-color: #222;
  --bg3-color: #555;
  --text1-color: #b0b0b0;
  --text2-color: #fff;
  --dot-size: 10px;
  --color-1: yellow;
  --color-2: green;
  --color-3: red;
  --scale: 0.5;
}
html {
  scroll-behavior: smooth;
}

body{
  overflow-x: hidden;
}


/* iframe{
  overflow-x: hidden;
  width: 200%;
  height: 600px;
  margin-left: -50%;
  margin-top: -140px;
  margin-bottom: -150px;
  -o-transform: scale(var(--scale));
  -webkit-transform: scale(var(--scale));
} */




h1{
  margin-top: -10px;
  margin-bottom: 0;
  letter-spacing: 1px;
  color: var(--text2-color);
}


h2 {
  margin: 35px 0 10px 0;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 18px;
  pointer-events: none;
  color: var(--text2-color);
}
.faint{
  margin-top: 5px !important;
  opacity: .5;
  margin-bottom: 50px !important;
}
.flip {
  display: inline-block;
  transform: scale(-1, 1);
}
.comingSoon{
  opacity: .3;
  /* text-decoration: line-through; */
  pointer-events: none;
}
.subtitle {
  margin: 0;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 1.5;
  pointer-events: none;
  user-select: none;
  text-align: center;
  color: #fff;
}
/* .subLogo{
  opacity: 1;
} */




/* Set the background color of the body */
body {
  background-color: var(--bg1-color);
  margin: 15px 40px 40px 40px;
  padding: 0;
  font-family: 'Chivo Mono', monospace;
  pointer-events: none;
}

button {
  font-family: 'Chivo Mono', monospace;
  border: none;
  width: 120px;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  margin: 0 0 10px 0;
  font-size: 10px;
  letter-spacing: 0.5px;
  font-weight: bold;
  color: var(--text2-color);
  /* background-color: var(--bg3-color); */
  background-color: rgba(0, 0, 0, 1);
  opacity: .7;

}
button:hover{
  opacity:1;
  /* background-color: var(--text1-color); */
}
.btnNext{
  margin: 30px auto;
  display: block;
  opacity: .8;
  pointer-events: all;
  width: 200px;
}
.selected {
  background-color: var(--color-1) !important;
  color: var(--bg1-color) !important;
  opacity: 1;
}

.above{
  /* display: none; */
  position: absolute;
  /* background-color: rgba( 55,55,55,.5); */
  padding: 5px 0 10px;
  margin: -5px 0;
  left: calc(50% - 150px);
  width: 300px;
  font-size: 12px;
  text-align: center;
  letter-spacing: 2px;
  color: var(--text1-color);
  pointer-events: none;
  /* cursor: pointer; */
  user-select: none;
  
  
}


#header{
/*  height: 130px;*/
  color: var(--text1-color);
  text-align: center;
  color: var(--text2-color);
  margin-bottom: 20px;
  pointer-events: none;
}

.logoIcon {
  display: inline-block;
  margin-top: 100px;
  width: 250px;
  height: 100px;
  background: url(logo_1.svg) no-repeat center center;
  background-size: 300px;
  margin-bottom: -10px;
  pointer-events: none;
}

#logoSmall {
  position: absolute;
  top: -10px;
  left: calc(50% - 60px);
  display: inline-block;
  width: 120px;
  height: 100px;
  background: url(logo_1.svg) no-repeat center center;
  background-size: 150px;
  margin-bottom: -10px;
  pointer-events: none;
}

#bgHead{
  background-color: var(--bg1-color);
  position: absolute;
  width: 100%;
  z-index: -33;
  margin: auto -50% auto;
  opacity: .2;
  height: 700px;
  pointer-events: all;
}

canvas{
  position: absolute;
  top: -10px;
  bottom: 0;
  left: 50%;
  overflow: hidden;
  background-color: var(--color-1);
  pointer-events: all;
}

.menu{
  pointer-events: all;
}

#empty{
  width: 100%;
  overflow: hidden;
  background-color: var(--bg1-color);
  position: fixed;
  top: 0;
  height: 100vh;
  z-index: 32;
  left: 0;
  opacity: .8;
  display: none;
  pointer-events: all;
  cursor: auto;
}


#contImg2 {
  height: 100%;
  width: 100%;
  position: relative;
  max-width: 680px;
  margin: 0 auto 10px auto;
/*  padding: 40px 0 40px 0;*/
pointer-events: all;
}


/* Style the event boxes */
.contImg1 {
  position: relative;
  display: inline-flex;

  /*width: 49%;*/
  /*align-items: center;*/
  background-color: var(--bg2-color);
  /*border-style: solid;*/
  /*border-color: var(--color-1);*/
  /*border-width: 1px;*/
 /* Subtract 1px to account for the green line */
  box-sizing: border-box;
  padding: 20px;
  color: var(--text1-color);
  border-radius: 20px;
  /* margin-top: 20px; */
}

img{
  width: 100%;
  border-radius: 10px;
/*  max-width: 500px;*/
  /* margin-bottom: 5px; */
  opacity: 1;
}

.fullFrame{
  max-width: 1480px !important;
  display: grid;
}

#navBar{
  position: fixed;
  top: -100px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  height: 70px;
  /* opacity: 0; */
  margin: 0 0 0 -40px;
  padding: 0;
  pointer-events: all;
  z-index: 55;
  cursor: pointer;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
/* .navBarTop{
  padding: 100px 0 !important;
  background-color: rgba(0, 0, 0, 0.1) !important;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
} */

#topBtn{
  position: absolute; 
  display: none;
  top: 20px; 
  right: 40px;
  width: 50px;
  font-size: 14px;
  /* z-index: 45; */
  padding: 8px 0 10px 0;
  background-color: var(--color-1);
  color: var(--bg1-color);
  opacity: 1; 
  font-family: arial;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  pointer-events: none;
 
  
}






/*// ///////////////////////////////////////////////////////////////////////// dropdown */ 

.dropdown {
  z-index: 44;
  margin-top: 90px;
  pointer-events: all;
  position: relative;
  display: inline-block;
  /* width: 500px; */
  text-align: center;
  width: calc(100% - 10px);
  max-width: 500px;
  font-size: 16px;
  user-select: none;
}

.dropbtn {
  width: 100%;
}




.dropdown-content {
  max-width: 400px;
  width: calc(100% - 80px);
  left: 50%;
  transform: translateX(-50%);
  display: none;
  position: absolute;
  margin-top: 1px;
  z-index: 1;
  min-width: 160px;
  background-color: rgba(0, 0, 0, 1);
  padding: 12px 16px;
  color: white;
  border-radius: 0 0 15px 15px;

}

.dropdown.active .dropdown-content {
  display: block;
}

.dropbtn {
  /* background-color: var(--bg2-color); */
  /* opacity: .7; */
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  color: white;
  padding: 12px;
  margin-left: -12px;
  border: none;
  cursor: pointer;
}
.dropbtn:hover{
  background-color: rgba(0, 0, 0, 1);
}

.dropbtn::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  border-width: 6px 6px 0 6px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
  transform: translateY(-50%);
  transition: transform 0.3s ease-in-out;
}
.dropbtn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 10px;
  border-width: 6px 6px 0 6px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
  transform: translateY(-50%);
  transition: transform 0.3s ease-in-out;
}

.active .dropbtn {
  background-color: black;
}


.dropdown.active .dropbtn::before {
  transform: translateY(-50%) rotate(180deg);
}

.dropdown.active .dropbtn::after {
  transform: translateY(-50%) rotate(180deg);
}

.dropdown-content a {
  color: white;
  padding: 12px 0;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: var(--bg1-color)
}

/*////////////////////////////////////////////////////////*/ 

.footerFrame{
  width: calc(100% + 80px);
  margin: 0 0 -45px -40px;
  height: 80px;
} 
.footer{
  background-color: #000;
  color: var(--text1-color);
  height: 80px;
  overflow: hidden;
  /* width: calc(100% + 80px); */
  margin: 0 -40px 0 -40px;
  /* text-align: center; */
  position: relative;
  width: calc(100% + 80px);
}
.footerText{
  position: absolute;
  bottom: 35px;
  width: 400px;
  margin-left: calc(50% - 200px);
  text-align: center;
  font-size: 14px;
  line-height: 2;

}



/*// /////////////////////////////////////////////////////////////////////////*/
@media only screen and (max-width: 800px) {
  body{
  margin: 10px 10px 0 0px;
  overflow-x: hidden;
  }
  .above{
    /* width: calc(100% - 80px); */
    padding-top: 10px;
    padding-bottom: 15px;
    /* margin: 0 50px 30px 0px; */
    font-size: 10px;
  }
  .logoIcon {
    margin-top: 110px;

  }
  #logoSmall {
  /* padding-left: 30px; */
  }

  button {
    width: 100px;
    font-size: 8px;
  }
  #header{
    margin-right: 0px;
    margin-left: 10px;
  }
  .dropdown {
    margin-top: 90px;
  }
  
  .contImg1{
    width: calc(100%);
    padding: 0;
    border-radius: 20px;
    margin: 0 0 10px 5px;
  }
  
  .subtitle{
    font-size: 10px;
    
  }
  
  #bgHead{
    /* filter: blur(20px); */
    /* opacity: .25; */
  }
  .footerFrame{
    width: calc(100% + 10px);
    margin: 0 0 -2px 0;
    height: 60px;
    
  } 
  .footer{
    height: 60px;
  }
  .footerText{
   font-size: 10px;
   bottom: 25px;
  }
  .dropdown {
    font-size: 12px;
  }

  #navBar{
    margin: 0;
    padding-left: 0;
  }
  
}
  


@media only screen and (min-width: 2200px) {
 body { 
    zoom: 2; 
    -moz-transform: scale(2); 
    -moz-transform-origin: 0 0;
  } 
}


#logoIconClick{
  position: absolute;
  width: 40px;
  overflow: hidden;
  z-index: 22;
  opacity: .5;
  display: block;
}